.dinamic-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.full-clouds {
  background: linear-gradient(180deg, #3c5369, #697a8c);
}

.day-time {
  background: linear-gradient(180deg, #024996, #00a1fe);
}

.night-time {
  background: linear-gradient(180deg, #1e2b58, #353283);
}
