.daily-forecast {
  grid-area: daily-forecast;
}
.daily-forecast-list {
  height: 100%;
  padding: 40px 15px 15px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}
.daily-forecast-list li {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.daily-forecast-list li span {
  width: 25%;
}
.daily-forecast-icon {
  width: 40px;
  height: 40px;
  object-fit: contain;
}
.daily-forecast-degree {
  font-family: "Poppins-Regular";
}
.daily-forecast-more {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.daily-forecast-more table th:nth-child(1),
.daily-forecast-more table td:nth-child(1) {
  color: var(--non-active-color);
}
.daily-forecast .weather {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  gap: 40px;
}
.daily-forecast .weather img {
  width: 75px;
  height: 75px;
  object-fit: contain;
}
.daily-forecast .weather-condition {
  text-align: left;
  font-size: 1.2rem;
  font-family: var(--font-accent);
  color: var(--non-active-color);
}
.daily-forecast .conditions {
  justify-content: center;
  flex-wrap: wrap;
  vertical-align: middle;
  gap: 15px;
}
.daily-forecast .conditions img {
  display: inline;
  opacity: 0.5;
  height: 12px;
  margin-right: 5px;
}

.daily-forecast-close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  width: 80px;
  padding: 10px 0;
}
.daily-forecast-close img {
  margin: 0 auto;
  transform: rotate(180deg);
}

@media screen and (max-width: 768px) {
  .daily-forecast-list li span {
    width: 30%;
  }
  .daily-forecast {
    height: 339px;
    font-size: 0.7rem;
  }
  .daily-forecast-list {
    gap: 15px;
  }
  .daily-forecast-icon {
    width: 20px;
    height: 20px;
  }
  .daily-forecast-toggle {
    width: 10px;
    height: 10px;
  }
  .daily-forecast .weather {
    text-align: left;
  }
  .daily-forecast .weather img {
    width: 50px;
    height: 50px;
  }
  .daily-forecast .conditions img {
    height: 8px;
  }
}
