.daily-forecast-list {
  height: 100%;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
}
.daily-forecast-list li {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}
.daily-forecast-list li span {
  width: 25%;
}
.daily-forecast-icon {
  width: 40px;
  height: 40px;
  -o-object-fit: contain;
  object-fit: contain;
}
.daily-forecast-degree {
  font-family: "Poppins-Regular";
}
.daily-forecast-more {
  height: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.daily-forecast-more table th:nth-child(1),
.daily-forecast-more table td:nth-child(1) {
  color: var(--non-active-color);
}
.daily-forecast .weather {
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.daily-forecast .weather img {
  width: 75px;
  height: 75px;
}
.daily-forecast .weather-condition {
  text-align: left;
  font-size: 1.2rem;
  font-family: var(--font-accent);
  color: var(--non-active-color);
}
.daily-forecast .conditions {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  vertical-align: middle;
  gap: 15px;
}
.daily-forecast .conditions img {
  display: inline;
  opacity: 0.5;
  height: 12px;
  margin-right: 5px;
}

@media screen and (max-width: 768px) {
  .daily-forecast-list li span {
    width: 30%;
  }
  .daily-forecast {
    height: 339px;
    font-size: 0.7rem;
  }
  .daily-forecast-list {
    gap: 15px;
  }
  .daily-forecast-icon {
    width: 20px;
    height: 20px;
  }
  .daily-forecast-toggle {
    width: 10px;
    height: 10px;
  }
  .daily-forecast .weather {
    text-align: left;
  }
  .daily-forecast .weather img {
    width: 50px;
    height: 50px;
  }
  .daily-forecast .conditions img {
    height: 8px;
  }
}
