.main-forecast {
  display: flex;
  grid-area: main-weather-forecast;
  width: 75%;
  padding: 5px;
  justify-content: space-around;
  align-content: center;
  font-size: 1.2rem;
  text-align: center;
  z-index: 100;
}
.main-forecast-location {
  flex-grow: 1;
}
.main-forecast-location span {
  display: block;
  font-family: var(--font-accent);
}
.main-forecast-location span:nth-child(2) {
  font-family: var(--font-regular);
}
.main-forecast img {
  display: inline;
  height: 57px;
  width: 57px;
  object-fit: contain;
}
.main-forecast-degree span:nth-child(1) {
  font-family: var(--font-accent);
}

@media screen and (max-width: 768px) {
  .main-forecast {
    position: sticky !important;
    top: 100px;
    width: 100%;
    font-size: 0.9rem;
    border: none !important;
    background: none !important;
    backdrop-filter: blur(0) !important;
  }
  .main-forecast img {
    width: 48px;
    height: 48px;
  }
  .main-forecast-location {
    flex-grow: 0;
  }
}
